<div class="wb1-container">
    <div class="wb1-paper">
        <p class="wb1-date">March 15, 2024</p>
        <h1 class="wb1-h1">The Solitude of a Writer's Desk.</h1>
        <p class="wb1-p">I write to discover what I know. In the quiet hum of the keys, a world begins to take shape. I am a copywriter, an essayist, and a collector of stray thoughts.</p>
        <div class="wb1-dash">---</div>
        <p class="wb1-p">Currently drafting copy for independent brands.</p>
        <a href="#" class="wb1-link">Read my journal [Enter]</a>
    </div>
</div>