<div class="wp1-container">
    <div class="wp1-nav"><span>LIA.</span> <span>Portfolio</span></div>
    <div class="wp1-hero">
        <div class="wp1-img"></div>
        <div class="wp1-text-box">
            <h1>The Art of <br><i>Persuasion.</i></h1>
            <p>Transforming complex ideas into compelling narratives that drive action.</p>
        </div>
    </div>
    <div class="wp1-recent">
        <h3>Selected Writing</h3>
        <p>Vogue Magazine // Feature Article<br>TechCrunch // Opinion Piece</p>
    </div>
</div>