<div class="wpr1-container">
    <div class="wpr1-paper">
        <h1 class="wpr1-h1">Prologue.</h1>
        <p class="wpr1-dropcap">I<span>t began with a blank page. The most terrifying and liberating space in the universe. I am a ghostwriter. I lend my voice to those who have lost theirs.</span></p>
        <p class="wpr1-p">My portfolio is a collection of secrets, memoirs of CEOs, and brand manifestos that move markets. Scroll down to read the chapters of my career.</p>
        <div class="wpr1-sign">Lia S.</div>
    </div>
</div>