<div class="wpr4-container">
    <div class="wpr4-slide">
        <div class="wpr4-page left"><h1>PORT<br>FOLIO.</h1><p>Lia Sastrawan</p></div>
        <div class="wpr4-page right"><p>Swipe left to open the book.</p><i class='bx bx-right-arrow-alt'></i></div>
    </div>
    <div class="wpr4-slide">
        <div class="wpr4-page left"><h2>Chapter 1</h2><p>Copywriting for Tech.</p></div>
        <div class="wpr4-page right"><p>"Simplicity is the ultimate sophistication."</p></div>
    </div>
</div>