<div class="wpr3-container">
    <div class="wpr3-bar">File Edit View <span>10:42 AM</span></div>
    <div class="wpr3-desktop">
        <div class="wpr3-folder"><i class='bx bxs-folder'></i><span>Drafts</span></div>
        <div class="wpr3-folder"><i class='bx bxs-folder'></i><span>Published</span></div>
        <div class="wpr3-window">
            <div class="wpr3-win-head">novel_v2_final.txt</div>
            <div class="wpr3-win-body">
                The city was asleep, but my keyboard wasn't.<br><br>I specialize in thriller ghostwriting. Contact me if you have a story that keeps you up at night.
            </div>
        </div>
    </div>
</div>