<div class="mb2-container">
    <div class="mb2-profile">
        <div class="mb2-avatar"></div>
        <div class="mb2-info"><h2>@rachel.social</h2><p>Social Media Strategist & Content Creator</p></div>
    </div>
    <div class="mb2-stats"><div><b>1.2M</b> Impressions</div><div><b>15%</b> Eng. Rate</div></div>
    <div class="mb2-grid">
        <div class="mb2-post"></div><div class="mb2-post"></div><div class="mb2-post"></div>
        <div class="mb2-post"></div><div class="mb2-post"></div><div class="mb2-post"></div>
    </div>
</div>