<div class="sb1-container">
    <div class="sb1-header">
        <h1 class="sb1-name">Dr. Mahalini Raharja</h1>
        <p class="sb1-title">Assistant Professor of Physics</p>
    </div>
    <div class="sb1-body">
        <div class="sb1-sidebar">
            <h3 class="sb1-h3">Education</h3>
            <div class="sb1-item"><b>Ph.D. Physics</b><br>MIT, 2020</div>
            <div class="sb1-item"><b>M.Sc. Physics</b><br>UI, 2016</div>
            <h3 class="sb1-h3">Contact</h3>
            <p>b.santoso@univ.edu</p>
        </div>
        <div class="sb1-main">
            <h3 class="sb1-h3">Selected Publications</h3>
            <ol class="sb1-pubs">
                <li><b>Raharja, M.</b>, et al. (2023). "Quantum Entanglement in Macroscopic Systems." <i>Nature Physics</i>, 14(2), 112-120.</li>
                <li><b>Raharja, M.</b> (2021). "Thermodynamics of Black Holes." <i>Journal of Advanced Science</i>, 8(4), 89-104.</li>
            </ol>
        </div>
    </div>
</div>