
<div class="cpr4-container">
    <nav class="cpr4-nav">EXHIBITION. <span>Menu</span></nav>
    <div class="cpr4-content">
        <h1 class="cpr4-title">Digital Art <br><span class="cpr4-indent">Gallery.</span></h1>
        
        <div class="cpr4-art-box box-1">
            <div class="cpr4-img"></div>
            <div class="cpr4-caption">01 // Abstract</div>
        </div>
        
        <div class="cpr4-art-box box-2">
            <div class="cpr4-img"></div>
            <div class="cpr4-caption">02 // Portrait</div>
        </div>
    </div>
</div>
