
<div class="cpr2-container">
    <div class="cpr2-topbar">
        <i class='bx bxl-apple'></i> <b>SasaOS</b> <span>File</span> <span>Edit</span>
    </div>
    <div class="cpr2-desktop">
        <div class="cpr2-folder"><i class='bx bxs-folder' style="color:#60A5FA;"></i><span>Portfolio</span></div>
        <div class="cpr2-folder"><i class='bx bxs-folder' style="color:#60A5FA;"></i><span>Assets</span></div>
        
        <div class="cpr2-window">
            <div class="cpr2-win-head">
                <div class="mac-dots"><span></span><span></span><span></span></div>
                <div class="cpr2-win-title">Portfolio</div>
            </div>
            <div class="cpr2-win-body">
                <div class="cpr2-file"><div class="c2-img"></div><span>Project_1.png</span></div>
                <div class="cpr2-file"><div class="c2-img"></div><span>Project_2.png</span></div>
                <div class="cpr2-file"><div class="c2-img"></div><span>Concept.png</span></div>
            </div>
        </div>
    </div>
    <div class="cpr2-dock">
        <div class="cpr2-d-icon"><i class='bx bxs-grid-alt'></i></div>
        <div class="cpr2-d-icon active"><i class='bx bxs-folder-open'></i></div>
        <div class="cpr2-d-icon"><i class='bx bxs-envelope'></i></div>
    </div>
</div>
