<div class="ap4-container">
    <h2>ETL & Analysis Pipeline</h2>
    <div class="ap4-flow">
        <div class="ap4-node"><i class='bx bx-data'></i> Data Extraction</div>
        <div class="ap4-arrow"><i class='bx bx-down-arrow-alt'></i></div>
        <div class="ap4-node"><i class='bx bx-filter-alt'></i> Cleansing & Trans.</div>
        <div class="ap4-arrow"><i class='bx bx-down-arrow-alt'></i></div>
        <div class="ap4-node hl"><i class='bx bx-line-chart'></i> Visualization</div>
    </div>
</div>